div .list {
    background-color: white;
    color: white;
    width: 250px;
    margin: 20px auto;
    height: 30px;
    border-radius: 0px 50px;
    text-align: center;
}
p {
    color: black;
    position: relative;
}
input {
    background-color: transparent;
    border: 0px;
}
span {
    position: absolute;
    right: 15px;
    color: red;
}